.article_area .content {
  min-height: 150px;
}
.article_area .util_list a,
.article_area .util_list button {
  display: block;
  font-size: 14px;
  color: #999;
}
.article_area .util_list a:hover,
.article_area .util_list button:hover {
  text-decoration: underline;
}
.btn_list a {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: #1c2024;
}
